# LIst of plots on the base dataset

Graph Type	Purpose

----------------------------
- Histogram	: To visualize the distribution of delivery times or the number of packages per delivery.
- Heatmap:	To illustrate the density of delivery requests within different geographical regions.
- Time Series Plot:	To depict trends in delivery demand over time, helping to identify peak periods.
- Scatter Plot:	To explore the relationship between variables such as delivery distance and time taken.
- Bar Chart:	To compare the average delivery times across various cities or zones.
- Box Plot:	To summarize the distribution of delivery times or distances, showing median and quartiles.
- Network Graph:	To visualize interactions and dependencies between different delivery hubs or regions.
- Cumulative Distribution Function (CDF): 	To display the probability of delivery times being less than a certain value.

In [1]:
import pandas as pd 

spgrp = pd.read_pickle("../processed/trajectory_spacegroup.pkl")

In [ ]:
spgrp.head(7)

# n_pings -> 30*20secs  number of times the tracker has been pinged 
# endtime-starttime = npings*20

,postman_id,seq,lat,lng,start_time,end_time,n_pings
0,0008c2b6a2314db8715301b7eeeebc5a,1,1.708151e+06,1.064734e+06,03-21 00:00:02,03-21 00:16:17,30
1,0008c2b6a2314db8715301b7eeeebc5a,2,1.708057e+06,1.064733e+06,03-21 00:16:47,03-21 00:31:17,29
2,0008c2b6a2314db8715301b7eeeebc5a,3,1.708163e+06,1.064731e+06,03-21 00:31:47,03-21 01:01:32,59
3,0008c2b6a2314db8715301b7eeeebc5a,4,1.708283e+06,1.064631e+06,03-21 01:02:02,03-21 01:16:32,29
4,0008c2b6a2314db8715301b7eeeebc5a,5,1.708165e+06,1.064731e+06,03-21 01:17:02,03-21 02:01:32,86
5,0008c2b6a2314db8715301b7eeeebc5a,6,1.708059e+06,1.064713e+06,03-21 02:02:02,03-21 02:16:17,27
6,0008c2b6a2314db8715301b7eeeebc5a,7,1.708057e+06,1.064727e+06,03-21 02:16:47,03-21 02:31:32,26