In [2]:
import pandas as pd 

courier_trajec_df=pd.read_csv("./LaDe/courier_detailed_trajectory/courier_detailed_trajectory.csv")

In [3]:
courier_trajec_df.head()

,ds,postman_id,gps_time,lat,lng
0,318,01890dd2fdc077b8deb7d8c120bf9c9f,03-18 00:01:04,2.375271e+06,1.566731e+06
1,318,01890dd2fdc077b8deb7d8c120bf9c9f,03-18 00:16:04,2.375280e+06,1.566754e+06
2,318,01890dd2fdc077b8deb7d8c120bf9c9f,03-18 00:31:04,2.375273e+06,1.566753e+06
3,318,01890dd2fdc077b8deb7d8c120bf9c9f,03-18 00:46:04,2.375286e+06,1.566753e+06
4,318,01890dd2fdc077b8deb7d8c120bf9c9f,03-18 01:01:04,2.375268e+06,1.566753e+06


## Courier detailed trajectory 

ds -> mmdd -> int -> date of trajectory ->  lets us group trajectories by day, compare daily activity, or build time-series summaries.
courier_id/postman_id -> id of courier 
gps_time -> The time when the trajectory point is recorded -> date : time format -> enables ordering of points, calculation of speed, idle times, and shift duration.
lng/lat -> Coordinates of the courier -> Float

#-------------------------------------------------------------------------------

reading processed file

In [6]:
trajec_spacegroup_df=pd.read_pickle("./processed/trajectory_spacegroup.pkl")

## Reading delivery_5_cities.pkl

In [7]:
d5c_df=pd.read_pickle("./LaDe/data_with_trajectory_20s/delivery_five_cities.pkl.xz",compression='xz')

0008c2b6a2314db8715301b7eeeebc5a -postman id 

match postman_id on d5c_df