# Objective

- translate cities from chinese to english cities 
- break down into 3 different csvs.

In [2]:
import pandas as pd

In [3]:
wdata = pd.read_csv("../../LaDe/delivery_five_cities.csv")

In [4]:
names = wdata['from_city_name'].unique()

In [5]:
city_mapping = {
    '上海市': 'Shanghai',
    '重庆市': 'Chongqing',
    '杭州市': 'Hangzhou',
}

# Convert the from_city_name to English using the mapping
wdata['from_city_en'] = wdata['from_city_name'].map(city_mapping)

# Drop the original from_city_name column
wdata.drop(columns=['from_city_name'], inplace=True)

wdata["receipt_time"] = pd.to_datetime(
    "2021-" + wdata["receipt_time"],
    format="%Y-%m-%d %H:%M:%S"
)

wdata["sign_time"] = pd.to_datetime(
    "2021-" + wdata["sign_time"],
    format="%Y-%m-%d %H:%M:%S"
)

In [6]:
wdata.head()

,order_id,from_dipan_id,delivery_user_id,poi_lng,poi_lat,aoi_id,typecode,receipt_time,receipt_lng,receipt_lat,sign_time,sign_lng,sign_lat,ds,from_city_en
0,687227b4d0c733049b16ccd566db6e01,08331170e24742ba7a3938f5b34ff24d,18ff78d2069125937a847fb701a9db6c,1.056351e+07,-7.458321e+06,e0581ca18e7ca371a9869e041cb09075,4602b38053ece07a9ca5153f1df2e404,2021-03-18 13:35:00,1.056160e+07,-7.457998e+06,2021-03-18 14:51:00,NaN,NaN,318,Shanghai
1,55be8cdf1270526231c9ba3387f51b54,c5ac5ba99801aa6b85ba473d9260512b,df0b594618d1ba6f619e4e7dd034447c,8.899874e+06,-7.684936e+06,9c0f96ff01a71477334ef563001abc72,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 08:32:00,8.900992e+06,-7.686103e+06,2021-03-18 14:33:00,NaN,NaN,318,Chongqing
2,ee46cae9ba2c002451af3c6fbcb49410,2129bfb99a2f6c11000c0ecbf1a5f3f6,05cceaaa5db96756294dd6d573fd865d,1.058131e+07,-7.467397e+06,4de9bf7f155046e7d0fd400672ab9cf3,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 13:02:00,1.058124e+07,-7.467607e+06,2021-03-18 15:34:00,NaN,NaN,318,Shanghai
3,38912be86c83138901b5e26398832be7,08331170e24742ba7a3938f5b34ff24d,f29e97ef8398477abb72b852b16c91c0,1.056273e+07,-7.456804e+06,fe48cde9b33e2308641d985f8a701c7e,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 12:11:00,1.056160e+07,-7.457997e+06,2021-03-18 14:08:00,NaN,NaN,318,Shanghai
4,2b83e2ba16714fee357694964d0e7e41,4fe96250270c2e17a28016a5fba4bc4a,1d00e6f2308aad233f0179aac63aa23d,1.044847e+07,-7.587086e+06,a7d4de5484ca867fe453976ba9fee424,4602b38053ece07a9ca5153f1df2e404,2021-03-18 07:28:00,1.044791e+07,-7.586259e+06,2021-03-20 12:40:00,NaN,NaN,318,Hangzhou

In [8]:
shanghai_df = wdata[wdata['from_city_en'] == 'Shanghai']
chongqing_df = wdata[wdata['from_city_en'] == 'Chongqing']
hangzhou_df = wdata[wdata['from_city_en'] == 'Hangzhou']

# Save each DataFrame to a CSV file
shanghai_df.to_csv('../../processed/d5c/shanghai/shanghai_data.csv', index=False)
chongqing_df.to_csv('../../processed/d5c/chongqing/chongqing_data.csv', index=False)
hangzhou_df.to_csv('../../processed/d5c/hangzhou/hangzhou_data.csv', index=False)

# Shanghai data

In [9]:
sh = pd.read_csv("../../processed/d5c/shanghai/shanghai_data.csv")

In [12]:
sh.rename(columns={
    'from_dipan_id': 'dispatch_station_id',
    'delivery_user_id': 'courier_id',
    'poi_lng': 'destination_lng',
    'poi_lat': 'destination_lat',
    'aoi_id': 'destination_aoi',
    'typecode': 'aoi_type',
    'receipt_time': 'courier_pickup_time',
    'receipt_lng': 'courier_pickup_lng',
    'receipt_lat': 'courier_pickup_lat',
    'sign_time': 'delivery_completion_time',
    'sign_lng': 'delivery_lng',
    'sign_lat': 'delivery_lat',
    'ds': 'day_code',
    'from_city_en': 'from_city'
}, inplace=True)

In [13]:
sh = (
    sh.sort_values(["courier_id", "order_receipt_time"])
)

In [14]:
sh.head()

,order_id,origin_hub_id,courier_id,destination_lng,destination_lat,destination_aoi,aoi_type,order_receipt_time,order_receipt_lng,order_receipt_lat,delivery_completion_time,delivery_lng,delivery_lat,day_code,from_city
45374,225f6d9b459f44ec3a35b5be9b28e4c8,4086360c7ff1079093cf6513bea5c463,000e98aedd35d5e6b671144eff2975bb,1.057435e+07,-7.454999e+06,b77ef5cc3e0f66a0e292d6f80cc82860,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-25 15:32:00,1.057408e+07,-7.454160e+06,2021-03-25 18:40:00,NaN,NaN,325,Shanghai
6069,e58da496d48efe63d1568979338e42fa,08331170e24742ba7a3938f5b34ff24d,00230f9acdd3b69b47639b261ef7d3f4,1.056388e+07,-7.456963e+06,b14921dbaae3fb6dd95445708964bd10,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 07:36:00,1.056160e+07,-7.457989e+06,2021-03-18 08:20:00,NaN,NaN,318,Shanghai
890,f57d29b971a48b7917344a6936146c87,08331170e24742ba7a3938f5b34ff24d,00230f9acdd3b69b47639b261ef7d3f4,1.056447e+07,-7.457263e+06,df5a518553c31ccfa72ce993a3bbb4e9,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 07:37:00,1.056159e+07,-7.457981e+06,2021-03-18 08:54:00,NaN,NaN,318,Shanghai
5333,becdb570c5b41b8782bd0e72abe4d69b,08331170e24742ba7a3938f5b34ff24d,00230f9acdd3b69b47639b261ef7d3f4,1.056388e+07,-7.456962e+06,b14921dbaae3fb6dd95445708964bd10,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 07:37:00,1.056161e+07,-7.457997e+06,2021-03-18 08:13:00,NaN,NaN,318,Shanghai
6533,a995c4d0497a838e8b46b5808ff5bd75,08331170e24742ba7a3938f5b34ff24d,00230f9acdd3b69b47639b261ef7d3f4,1.056408e+07,-7.456605e+06,b14921dbaae3fb6dd95445708964bd10,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 07:37:00,1.056160e+07,-7.457993e+06,2021-03-18 08:26:00,NaN,NaN,318,Shanghai