# Objective

- translate cities from chinese to english cities 
- break down into 3 different csvs.

In [2]:
import pandas as pd

In [7]:
wdata = pd.read_csv("../../LaDe/delivery_five_cities.csv")

In [8]:
names = wdata['from_city_name'].unique()

In [9]:
city_mapping = {
    '上海市': 'Shanghai',
    '重庆市': 'Chongqing',
    '杭州市': 'Hangzhou',
}

# Convert the from_city_name to English using the mapping
wdata['from_city_en'] = wdata['from_city_name'].map(city_mapping)

# Drop the original from_city_name column
wdata.drop(columns=['from_city_name'], inplace=True)

wdata["receipt_time"] = pd.to_datetime(
    "2021-" + wdata["receipt_time"],
    format="%Y-%m-%d %H:%M:%S"
)

wdata["sign_time"] = pd.to_datetime(
    "2021-" + wdata["sign_time"],
    format="%Y-%m-%d %H:%M:%S"
)

In [10]:
wdata.head()

,order_id,from_dipan_id,delivery_user_id,poi_lng,poi_lat,aoi_id,typecode,receipt_time,receipt_lng,receipt_lat,sign_time,sign_lng,sign_lat,ds,from_city_en
0,687227b4d0c733049b16ccd566db6e01,08331170e24742ba7a3938f5b34ff24d,18ff78d2069125937a847fb701a9db6c,1.056351e+07,-7.458321e+06,e0581ca18e7ca371a9869e041cb09075,4602b38053ece07a9ca5153f1df2e404,2021-03-18 13:35:00,1.056160e+07,-7.457998e+06,2021-03-18 14:51:00,NaN,NaN,318,Shanghai
1,55be8cdf1270526231c9ba3387f51b54,c5ac5ba99801aa6b85ba473d9260512b,df0b594618d1ba6f619e4e7dd034447c,8.899874e+06,-7.684936e+06,9c0f96ff01a71477334ef563001abc72,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 08:32:00,8.900992e+06,-7.686103e+06,2021-03-18 14:33:00,NaN,NaN,318,Chongqing
2,ee46cae9ba2c002451af3c6fbcb49410,2129bfb99a2f6c11000c0ecbf1a5f3f6,05cceaaa5db96756294dd6d573fd865d,1.058131e+07,-7.467397e+06,4de9bf7f155046e7d0fd400672ab9cf3,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 13:02:00,1.058124e+07,-7.467607e+06,2021-03-18 15:34:00,NaN,NaN,318,Shanghai
3,38912be86c83138901b5e26398832be7,08331170e24742ba7a3938f5b34ff24d,f29e97ef8398477abb72b852b16c91c0,1.056273e+07,-7.456804e+06,fe48cde9b33e2308641d985f8a701c7e,203ac3454d75e02ebb0a3c6f51d735e4,2021-03-18 12:11:00,1.056160e+07,-7.457997e+06,2021-03-18 14:08:00,NaN,NaN,318,Shanghai
4,2b83e2ba16714fee357694964d0e7e41,4fe96250270c2e17a28016a5fba4bc4a,1d00e6f2308aad233f0179aac63aa23d,1.044847e+07,-7.587086e+06,a7d4de5484ca867fe453976ba9fee424,4602b38053ece07a9ca5153f1df2e404,2021-03-18 07:28:00,1.044791e+07,-7.586259e+06,2021-03-20 12:40:00,NaN,NaN,318,Hangzhou

In [ ]:
shanghai_df = wdata[wdata['from_city_en'] == 'Shanghai']
chongqing_df = wdata[wdata['from_city_en'] == 'Chongqing']
hangzhou_df = wdata[wdata['from_city_en'] == 'Hangzhou']

# Save each DataFrame to a CSV file
shanghai_df.to_csv('../processed/d5c/shanghai/shanghai_data.csv', index=False)
chongqing_df.to_csv('../processed/d5c/chongqing/chongqing_data.csv', index=False)
hangzhou_df.to_csv('../processed/d5c/hangzhou/hangzhou_data.csv', index=False)

# Shanghai data

In [4]:
sh = pd.read_csv("../../processed/d5c/shanghai/shanghai_data.csv")

In [ ]:
sh.rename(columns={
    'from_dipan_id': 'origin_hub_id',
    'delivery_user_id': 'courier_id',
    'poi_lng': 'destination_lng',
    'poi_lat': 'destination_lat',
    'aoi_id': 'aoi_id',
    'typecode': 'aoi_type',
    'receipt_time': 'order_receipt_time',
    'receipt_lng': 'order_receipt_lng',
    'receipt_lat': 'order_receipt_lat',
    'sign_time': 'delivery_completion_time',
    'sign_lng': 'delivery_lng',
    'sign_lat': 'delivery_lat',
    'ds': 'day_code',
    'from_city_en': 'from_city'
}, inplace=True)

In [5]:
sh.head()

,order_id,from_dipan_id,delivery_user_id,poi_lng,poi_lat,aoi_id,typecode,receipt_time,receipt_lng,receipt_lat,sign_time,sign_lng,sign_lat,ds,from_city_en
0,687227b4d0c733049b16ccd566db6e01,08331170e24742ba7a3938f5b34ff24d,18ff78d2069125937a847fb701a9db6c,1.056351e+07,-7.458321e+06,e0581ca18e7ca371a9869e041cb09075,4602b38053ece07a9ca5153f1df2e404,03-18 13:35:00,1.056160e+07,-7.457998e+06,03-18 14:51:00,NaN,NaN,318,Shanghai
1,ee46cae9ba2c002451af3c6fbcb49410,2129bfb99a2f6c11000c0ecbf1a5f3f6,05cceaaa5db96756294dd6d573fd865d,1.058131e+07,-7.467397e+06,4de9bf7f155046e7d0fd400672ab9cf3,203ac3454d75e02ebb0a3c6f51d735e4,03-18 13:02:00,1.058124e+07,-7.467607e+06,03-18 15:34:00,NaN,NaN,318,Shanghai
2,38912be86c83138901b5e26398832be7,08331170e24742ba7a3938f5b34ff24d,f29e97ef8398477abb72b852b16c91c0,1.056273e+07,-7.456804e+06,fe48cde9b33e2308641d985f8a701c7e,203ac3454d75e02ebb0a3c6f51d735e4,03-18 12:11:00,1.056160e+07,-7.457997e+06,03-18 14:08:00,NaN,NaN,318,Shanghai
3,4b392c6cf454d4b076f9c9b0127744cc,328fc34276e32793232a2ccd49129496,8bb58c7fd229efb3b2c592bee0908cb3,1.056429e+07,-7.485300e+06,27926d6d8a1d20f13151a909ff4954fc,203ac3454d75e02ebb0a3c6f51d735e4,03-18 09:53:00,1.056671e+07,-7.485063e+06,03-18 10:29:00,NaN,NaN,318,Shanghai
4,ee478844aea92a953a608ad4481a7061,2462bee7bd5bf485b89c7babfbdab140,af4aa49af4767c5f0f669f2b617c84dc,1.057729e+07,-7.495264e+06,ed5e652c4560684539a6dc4276f352bf,203ac3454d75e02ebb0a3c6f51d735e4,03-18 08:11:00,1.057947e+07,-7.496210e+06,03-18 08:14:00,NaN,NaN,318,Shanghai